<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>PruebaServlets.Validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comprobacion</servlet-name>
        <servlet-class>PruebaServlets.Comprobacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>PruebaServlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCarrito</servlet-name>
        <servlet-class>PruebaServlets.agregarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCarrito</servlet-name>
        <servlet-class>PruebaServlets.eliminarCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comprobacion</servlet-name>
        <url-pattern>/Comprobacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCarrito</servlet-name>
        <url-pattern>/agregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCarrito</servlet-name>
        <url-pattern>/eliminarCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
